<style>button {
    font-size: 30px;
}</style>
<body>
<h1>Cola Machine</h1>
<h2>Present for Lesik</h2><a href="/cola/5">
    <button><img src="https://www.pngitem.com/pimgs/m/18-188635_coke-glass-png-coca-cola-png-hd-transparent.png"
                 width="100"/></button>
</a><a href="/cola/10">
    <button><img src="https://www.pngitem.com/pimgs/m/18-188635_coke-glass-png-coca-cola-png-hd-transparent.png"
                 width="150"/></button>
</a><a href="/cola/15">
    <button><img src="https://www.pngitem.com/pimgs/m/18-188635_coke-glass-png-coca-cola-png-hd-transparent.png"
                 width="200"/></button>
</a>
<div>
    <a href="/fanta/5">
        <button>Fanta 5</button>
    </a>
    <a href="/fanta/10">
        <button>Fanta 10</button>
    </a>
    <a href="/fanta/15">
        <button>Fanta 15</button>
    </a>
</div>
</body>