<!doctype html>
<html>
<head>
    <!-- ... -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="static/tailwind.css" rel="stylesheet">
    <style>
        html {
            background: #e00e0e;
        }
    </style>
</head>
<body class="container mx-auto p-4">
<div class="">
   <div class="my-2 overflow-hidden">
        <a href="drink/cola">
            <img src="static/images/Coca-Cola-Bottle-100th-birthday.jpg"
                 class="w-full object-cover overflow-hidden rounded-lg object-top"
                 style="height: 33em; margin-top: -50px"
            />
        </a>
    </div>
    <div class="my-2">
        <a href="drink/fanta">
            <img src="static/images/2019052445032205.jpg"
                 class="w-full object-fill overflow-hidden rounded-lg"/>
        </a>
    </div>
    <div class="my-2">
        <a href="drink/sprite">
            <img src="static/images/16427794_1214925495256243_7460483465357041243_n.jpg"
                 class="w-full object-fill overflow-hidden rounded-lg"/>
        </a>
    </div>
</div>
</body>
</html>